.dashboard-modal {

    .footer__btns {
        float:right;
        margin-top: 32px;
        margin-right: 22px;
        margin-bottom: 15px;
    }
    .footer__btn {
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        color: #a2a2a2;
        text-transform: uppercase;
        border-radius: 8px;
        margin-right: 8px;
        padding-left:27px;
        padding-right:27px;
        height:40px;
        line-height: 40px;

        -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
    }
    .footer__btn--highlighted {
        color: $mainTheme;
        font-weight: bold;
    }

}

